<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="S3MultipartUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <aws region="us-east-2" profileName="default">
    <logging logTo="None" logMetrics="true" logMetricsFormat="Standard" logResponses="OnError"/>
  </aws>
  <applicationSettings>
    <S3MultipartUploader.Properties.Settings>
      <setting name="ErrorSnsTopic" serializeAs="String">
        <value>S3MultipartUploaderError</value>
      </setting>
    </S3MultipartUploader.Properties.Settings>
  </applicationSettings>
</configuration>